@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap");


#checkout{
    background-color: black;
    border: 2px solid white;
    margin: 20px;
    border-radius: 10px;
}

#cartItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#line{
    background-color: white;
    height: 2px;
    width: 80%;
    margin: auto;
}

#cart-header-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    color: white
}


#emptyCartInfo{
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 2rem;
}
