@font-face{
    src: url("./../fonts/Transformers\ Movie.ttf");
    font-family: "item-name";
}


#detail-main{
    margin: 0;
    background-color: white;
    margin: 20px 20px auto 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#backBtn{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 2rem;
    font-family: monospace;

}

#detail-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

#item-image{
    height: 400px;
    width: 500px;
}

#detailed-info{
    margin: 30px;
    padding: 10px;
}

#image{
    margin: 30px;
}

#item-name{
    font-weight: 900;
    font-size: 3rem;
    font-family: "item-name";
}

#item-price{
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
}

#addBtn{
    background-color: lightgreen;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    border: 0 1px 1px 1px solid black;
    transition: all 0.1s ease-in-out;
}

#addBtn:hover{
    transform: scale(1.02);
    background-color: limegreen;
}

#addBtn:active{
    transform: scale(0.95);
    background-color: limegreen;
}

#item-components{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.4rem;
    list-style-type: circle;
}