@font-face{
    src: url("./../fonts/NEONLEDLight.ttf");
    font-family: "header-font";
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    height: 100px;
    border-radius: 10px;
}

#just-header{
    font-family: "header-font";
    font-size: 3rem;
    color: white
}

nav{
    width: 30%;
}


ul{
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    list-style: none;
}

li>a{
    color: white;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

#cart{
    display: flex;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart>#cart-icon{
    margin: 10px;
    transform: scale(1.4);
}

