
#home{
    display: flex;
    justify-content: center;
    align-items: center;
}

#shopBtn{
    font-family: monospace;
    background-color: black;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    margin-top: 50%;
}

#shopBtn:hover{
    transform: scale(1.03);
}

@media (max-width: 700px){
    #shopBtn{
        font-size: 2rem;
        padding: 0.5rem;
        border: 1px solid white;
    }
}

@media (max-width: 500px){
    #shopBtn{
        font-size: 1.8rem;
        padding: 0.5rem;
        border: 1px solid white;
    }
}