
.item-card{
    width: 300px;
    height: 400px;
    background-color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
    border-radius: 7px;
}

.item-card>img{
    height: 200px;
    width: 250px;
}

.info{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    color: white;
}

#back{
    cursor: pointer;
}