.quantityModifier{
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.btn, .quantityValue{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0 auto 0 auto;
    padding: 5px;
}

.quantityValue{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.decrement{
    background-color: red;
    border-radius: 10px 10px 0 0;
    transition: all 0.2 ease-in-out;
}

.increment{
    background-color: lime;
    border-radius: 0 0 10px 10px;
    transition: all 0.2 ease-in-out;
}

.decrement:hover{
    background-color: lightcoral;
}

.increment:hover{
    background-color: lightgreen;
}